<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  
  <body>
    {% comment %} Navbar Start {% endcomment %}


    <nav class="navbar navbar-default custom-navbar">
      {% load static  %}
      <link rel = "stylesheet" href = "{%  static 'styles/purchase.css' %}" >
      
        <div class="container-fluid">


        <h1>  <a class="navbar-brand" href="#"><center>EduPortal-payment page </center></a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/purchase">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/contact">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/showcourses">  show courses </a>
                  </li>


                  <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>  &nbsp; &nbsp;
      </nav>
          {% comment %} Navbar End {% endcomment %}
          {% load static  %}
    <link rel = "stylesheet" href = "{%  static 'styles/purchase.css' %}" >
    <div class = "purchase">

          <center><h1 style="color: green">Payment Page</h1>       <br> <br> 
            <form method="post" action="{% url 'purchase' %}">
                {% csrf_token %}
                <label for="card_number">Card Number:</label> &nbsp; &nbsp;
                <input type="Number" id="card_number" name="card_number" placeholder = "card number"  />
                <br> <br> <br>
                <label for="expiry_date">Expiry Date:</label> &nbsp; &nbsp;
                <input type="text" id="expiry_date" name="expiry_date" placeholder = "Expiry Date"  />
                <br> <br> <br>
                <label for="cvv">CVV:</label> &nbsp; &nbsp;
                <input type="Number" id="cvv" name="cvv" placeholder = "CVV" />
                <br><br> <br> 
                <input type = "submit" name = "submit">
            </div>
            </form> </center>
          
        
{% comment %} Login End {% endcomment %}


{% comment %} Footer Start {% endcomment %}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  {% load static  %}
    <link rel = "stylesheet" href = "{%  static 'styles/purchase.css' %}" >
    <div class = "footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">© 2017–2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
  {% comment %} Footer End {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>