<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Eduportal-show courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <center><h1> Eduportal-show courses Data </h1></center> &nbsp; &nbsp; 
    <!-- navbar opens-->
    <nav class="navbar navbar-default custom-navbar">
      {% load static  %}
      <link rel = "stylesheet" href = "{%  static 'styles/showcourses.css' %}" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Eduportal-show courses  </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user/showcourses">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user/userlogout">userlogin </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>

            <!-- Login modal end-->
          </div>
        </div>
      </nav> &nbsp; &nbsp;
    <!--navbar closes-->
   {% comment %} <div> Hello students.... {{ key1}}</div>
    <div> Hello students.... {{ key2}}</div>
     {% endcomment %}
     {% load static  %}
     <link rel = "stylesheet" href = "{%  static 'styles/showcourses.css' %}">
     <div class = "table">

    <!--course content start-->
    <table class= "table table-bordered">
        <thead>
            <tr>
                <th scope="col">Enter uid of students</th>
                <th scope="col">Enter course Name</th>
                <th scope="col"> Start Date</th>
                <th scope="col">Select Batch</th>
                <th scope="col">Select Date</th>
                <th scope="col"> course price </th>
                <th scope="col"> course img </th>
                <th scope="col"> course pdf </th>
                <th scope="col"> course video tutorial </th>
                <th scope="col"> courses  quiz </th>
                <th scope="col"> purchase course  </th>


                
              </tr>
            </thead>
        
              
{% for course in courses %}
{% comment %}<li>{{user.fname}} {{user.lname}}  {{user.mobile}} {{user.email}} {{user.password}}   {{user.dob}}  {{user.repw}}</li>
 {% endcomment %} 
 
          <tr>
            <td scope="col">{{course.uid}}</td>
            <td scope="col">{{course.cname}}</td>
            <td scope="col">{{course.startdate}} </td>
            <td scope="col">{{course.cbatch}}</td>
            <td scope="col">{{course.batchday}}</td>
            <td scope="col">{{course.cprice}}</td>
            <td scope="col"> 
              {% if course.uid == 1 %}
              {% load static %}
          <center><img src = "{% static 'cimg/java1.jpg' %}"></center>
           {% endif %}   
           {% if course.uid == 2 %}
              
         <center> <img src = "{% static 'cimg/python1.jpg' %}"></center>
           {% endif %}

           {% if course.uid == 3 %}
              
           <center> <img src = "{% static 'cimg/php.jpg' %}"></center>
             {% endif %}

             {% if course.uid == 4 %}
              
             <center> <img src = "{% static 'cimg/Nodejs1.jpg' %}"></center>
               {% endif %}

               <td scope="col"> 

                {% if course.uid == 1 %}
                <a href = "https://www.tutorialspoint.com/java/java_tutorial.pdf"><button>  JAVA PDF  </button></a> &nbsp; <br><br>
                <center>{% static 'cpdf/java_tutorial.pdf' %}</center>
                {% endif %}  

             {% if course.uid == 2 %}   
             <a href = "https://www.tutorialspoint.com/python3/python_tutorial.pdf"><button>  PYTHON PDF </button></a> &nbsp; <br><br>
             <center>{% static 'cpdf/python_tutorial.pdf' %}</center>
             {% endif %}
  
             {% if course.uid == 3 %}
             <a href = "https://www.tutorialspoint.com/php/php_tutorial.pdf"><button>  PHP PDF  </button></a> &nbsp; <br><br>
             <center>{% static 'cpdf/php_tutorial.pdf' %}</center>
               {% endif %}
  
               {% if course.uid == 4 %}
               <a href = "https://www.tutorialspoint.com/nodejs/nodejs_tutorial.pdf"><button>  NODEJS PDF </button></a> &nbsp; <br><br>
               <center>{% static 'cpdf/nodejs_tutorial.pdf' %}</center>
                 {% endif %}  

                 <td scope="col"> 

                  {% if course.uid == 1 %} 
                  <a href = "https://www.youtube.com/watch?v=OjdT2l-EZJA&list=PLfn3cNtmZdPOe3R_wO_h540QNfMkCQ0ho"><button>  JAVA VIDEOS </button></a> &nbsp; <br><br>
                  {% endif %}

                  {% if course.uid == 2 %} 
                  <a href = "https://www.youtube.com/watch?v=tA42nHmmEKw&list=PLh2mXjKcTPSACrQxPM2_1Ojus5HX88ht7"><button>  PYTHON VIDEOS </button></a> &nbsp; <br><br>
                  {% endif %}

                  {% if course.uid == 3 %} 
                  <a href = "https://www.youtube.com/watch?v=a_qREkJ78f4&list=PL0b6OzIxLPbyrzCMJOFzLnf_-_5E_dkzs"><button>  PHP VIDEOS </button></a> &nbsp; <br><br>
                  {% endif %}

                  {% if course.uid == 4 %} 
                  <a href = "https://www.youtube.com/watch?v=IIpiLZGTWuo&list=PLwGdqUZWnOp00IbeN0OtL9dmnasipZ9x8"><button>  NODEJS VIDEOS </button></a> &nbsp; <br><br>
                  {% endif %}
            
            
                  <td scope="col">
                    {% if course.uid == 1 %}   
                    <a href = "https://presenter.jivrus.com/p/1cB-DkpvqasLSbmC9COkOL1HJ8s69vJO0G_1KqouD81c"><button>  JAVA QUIZ </button></a> &nbsp; <br><br>
                    {% endif %}

                    {% if course.uid == 2 %}   
                    <a href = "https://presenter.jivrus.com/p/1NsQ67U3UCzuyFuRrNCbdbvzr4BMHFBVcRiTk3GzMd9w"><button>  PYTHON QUIZ </button></a> &nbsp; <br><br>
                    {% endif %}

                    {% if course.uid == 3 %}   
                    <a href = "https://presenter.jivrus.com/p/1dfY6SSqerNFhXJvX-K22hVBKH1J95y3D0KS_132oM04"><button>  PHP QUIZ </button></a> &nbsp; <br><br>
                    {% endif %}

                    {% if course.uid == 4 %}   
                    <a href = "https://presenter.jivrus.com/p/1Df_PUAqPshS88cggrtj-BJk_ugR03hRhqDfjvFDPpRk"><button>  NODEJS QUIZ </button></a> &nbsp; <br><br>
                    {% endif %}

                    <td scope="col"> 
                      <a href = "http://127.0.0.1:8000/user/purchase"><button> purchase course  </button></a> &nbsp
                    </td>

          </tr>
          

          
          {% endfor %} 
         
          
        </div> 
      </table> &nbsp; &nbsp;
      


      
    <!--course content end-->

    <!--Footer start-->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        {% load static  %}
        <link rel = "stylesheet" href = "{%  static 'styles/showcourses.css' %}" >  
        <div class = "footer"> 
        <div class="row">  
          <div class="col-12 col-md">
            <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">© 2017–2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
      </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>



