.container-fluid{
  background-color: coral;
  font-size: xx-large;
}
.contact{
 background-color: dodgerblue;
}
.contact1{
 background-color: lightblue;
}
.contact2 {
  background-color: lightpink;
  font-size: xx-large;
}