.container-fluid{
    background-color: bisque;
    font-size: xx-large;
}
#tables{
    background-color: darksalmon;
    font-size: xx-large;
}
.footer{
    background-color: lightsteelblue;
    font-size: xx-large;
}